<!doctype html>
<html>
    <head>
        <title> Menu </title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h3>本PizzHut共有{{ foods|length }}种食物</h3>
        {% for food in foods %}
        <p>{{ forloop.counter }}</p>
            <ul>
                <li> 食品名称:{{ food.name }} </li>
                <li> 食品价格:{{ food.price }} </li>
                <li> 内含数量: {{ food.numbers }} </li>
                <li> 辣度: {{ pungency_degree|get_item:food.is_spicy }} </li>
                <li> 招牌 {{ food.favourite }} </li>
            </ul>
        {% empty %}
            <p>本餐廳啥都沒賣！</p>
        {% endfor %}
    </body>
</html>